pycache/
__pycache__
*.pyc
*.pyo
.pyd
.Python
.pytest_cache
.mypy_cache
.ruff_cache
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.
.cache
nosetests.xml
coverage.xml
*.so
*.egg-info/
dist/
build/
*.egg
MANIFEST
render.yaml

VSCode
.vscode/

MacOS
.DS_Store