pycache/
*.pyc
*.pyo
.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.
.cache
nosetests.xml
coverage.xml
*.so
*.egg-info/
dist/
build/
*.egg
MANIFEST

VSCode
.vscode/

MacOS
.DS_Store